.button {
    margin-top: 30px;
    z-index: 1;
    display: flex;
    font-size: 1.5rem;
    font-family: unset;
    font-weight: 700;
    color: var(--text-main) !important;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 21px;
    transition: all 0.1s;
    cursor: pointer;
    border: none;

    &:hover {
        scale: .95
    }
}

.pizzaContainer {
    display: flex;
    position: absolute;
}

.pizza {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
    transition: all 0.2s;
    opacity: 0;
    color: #dcc9ab
}

.button:hover .pizzaContainer {


    .pizza {
        opacity: 0.5;
    }

    .pizza:nth-child(1) {
        transform: translate3d(-2rem, 4rem, 0) rotate(-20deg) scale(2);
    }

    .pizza:nth-child(2) {
        transform: translate3d(-4rem, -3.75rem, 0) rotate(90deg) scale(2);
    }

    .pizza:nth-child(3) {
        transform: translate3d(6rem, -3.5rem, 0) rotate(-95deg) scale(2);
    }

    .pizza:nth-child(4) {
        transform: translate3d(1.5rem, 3.75rem, 0) rotate(-80deg) scale(2);
    }
}